body {
    margin: 0;
    font-family: "Abel";
}

html {
    background-color: black;
}


/* TODO: light theme */
.smol {
    margin: 0;
    color: transparent;
    text-shadow: 0 0 0px white;
    position: relative;
    font-size: xx-small;
}



.hoverable {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}
.hoverable:hover {
    opacity: 1;
}

button, input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.title-blog {
    font-size: 1.9em;
    text-align: center;
    line-height: 1.8em;
}

.txt {
    font-size: 0.6em;
    line-height: 1.2em;
    text-align: left;
}


.filter-title {
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: center;
}

.filter {
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
}

.itm-blog {
    padding: 5px;
    margin: 5px;
    font-weight: normal;
    flex: 1;
}

.item-blog {
    background-color: transparent;
    padding: 5px;
    width: 45%;
    margin: 10px;
    line-height: 1.5em;
    color: white;
    font-weight: bold;
    font-size: 2em;
}