

body {
	min-height: 100vh;
}

html {
    font-family: "Courier New", sans-serif;
}

body {
	margin: 0;
	background-color: whitesmoke;
}

a {
	color: orangered;
	text-decoration: none;
	}

.mono {
	font-family: monospace;
}

span.hidden{ 
	display:none; 
} 


.container {
	height: 100%;
	padding: 0;
	margin: 0;

	/* looks */
	display: flex;
	justify-content: center;
	align-items: center;  /* baseline, center, stretch */
	flex-direction: column;

}

.container_projects {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;

}

@media (min-width: 768px) {
	.container_projects {
		height: 100%;
		padding: 0;
		margin: 0;
	
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	
	}
}


.item_proj {
	flex: 1 0 10%;
	background-color: black;
	padding: 10px;
	height: 400px;
	margin-bottom: 5px;
	color: white;
	font-size: 1em;
	text-align: center;
}

@media (min-width: 768px) {
.item_proj {
	flex: 1 0 25%;
	background-color: black;
	padding: 10px;
	height: 400px;
	margin: 10px;
	line-height: 40px;
	color: white;
	font-size: 1em;
	text-align: center;
}
}

.item {
	background-color: black;
	padding: 10px;
	width: 100%;
	height: auto;
	margin: 10px;
	line-height: 40px;
	color: white;
	font-size: 1em;
	text-align: center;
}

@media (min-width: 768px) {
	.item {
		background-color: black;
		padding: 10px;
		width: 50%;
		height: auto;
		margin: 10px;
		line-height: 40px;
		color: white;
		font-size: 1em;
		text-align: center;
	}
}

/*
@media (max-width: 768px) {
    /* For mobile phones: * /
    .item {
		background-color: black;
		padding: 10px;
		width: 80%;
		height: auto;
		margin: 10px;
		line-height: 40px;
		color: white;
		font-size: 1.4em;
		text-align: center;
	}
}
@media (min-width: 769px) {
.item {
	background-color: black;
	padding: 10px;
	width: 50%;
	height: auto;
	margin: 10px;
	line-height: 40px;
	color: white;
	font-size: 1em;
	text-align: center;
}
/*


.item_decor5 {
	padding-bottom: 5px;
	padding-top: 	5px;
	padding-left: 	10px;
	padding-right: 	10px;
	width: 50%;
	height: auto;
	margin: 10px;
	background-color: black;
}
.item_decor2 {
	padding-bottom: 2.5px;
	padding-top: 	2.5px;
	padding-left: 	10px;
	padding-right: 	10px;
	width: 50%;
	height: auto;
	margin: 10px;
	background-color: black;
}

.item_decor1 {
	padding-bottom: 1.25px;
	padding-top: 	1.25px;
	padding-left: 	10px;
	padding-right: 	10px;
	width: 50%;
	height: auto;
	margin: 10px;
	background-color: black;
}

.item_decor0 {
	padding-bottom: 1px;
	padding-top: 	1px;
	padding-left: 	10px;
	padding-right: 	10px;
	width: 50%;
	height: auto;
	margin: 10px;
	background-color: black;
}
*/