

html, body {
	height: 100%;
}

html {
    font-family: "Courier New", sans-serif;
}

body {
	margin: 0;
	background-color: whitesmoke;
}

a {
	color: orangered;
	text-decoration: none;
	}

.mono {
	font-family: monospace;
}

span.hidden{ 
	display:none; 
} 


.container {
	height: 100%;
	padding: 0;
	margin: 0;

	/* looks */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: center;
	align-items: center;  /* baseline, center, stretch */
	flex-direction: column;

}

@media (max-width: 768px) {
    /* For mobile phones: */
    .item {
		background-color: black;
		padding: 10px;
		width: 80%;
		height: auto;
		margin: 10px;
		line-height: 40px;
		color: red;
		font-size: 1.4em;
		text-align: center;
	}
}
@media (min-width: 769px) {
.item {
	background-color: black;
	padding: 10px;
	width: 50%;
	height: auto;
	margin: 10px;
	line-height: 40px;
	color: white;
	font-size: 1em;
	text-align: center;
}
}
