div {
    display: table;
    margin-right: auto;
    margin-top: -30px;
    margin-left: auto;
    width: 400px;
  }

img {
    height: 40px;
}

.visible {
    display: none;
}


.anim1 {
    animation: shake 0.82s  both;
    animation-iteration-count:infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


.anim2 {
    margin-right: -12px;
    animation: shake 0.63s  both;
    animation-iteration-count:infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.anim3 {
    margin-left: -10px;
    animation: shake 0.23s  both;
    animation-iteration-count:infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.anim4 {
    animation: shake 1.1s  both;
    animation-iteration-count:infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.anim5 {
    animation: shake 0.91s  both;
    animation-iteration-count:infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 3px, 0);
    }
    
    20%, 80% {
      transform: translate3d(3px, -2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-3px, -3px, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 2px, 0);
    }
  }